* {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 800px) {
.App {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  height: 45em;
}
}

button:hover {
  cursor: pointer;
}

button {
  padding: 2px;
}


/* Nav Bar */

@media (max-width: 799px) {
  .navBarCont {
    background-color: #99ff99;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding-bottom: 12px;
  }

  @media (max-width: 600px) {
    .mobileNav {
      font-size: smaller;
    }
  }
  
  .mobileNav {
    display: block;
    float: left;
    margin-left: 12px;
  }

  .App {
    margin-top: 50px;
  }
  
  a {
    text-decoration: none;
    font-weight: 500;
  }
  
  a, a:visited {
    color: #00b300;
  }
  
  a:hover {
    color: #0000ff;
    cursor: pointer;
  }
  
   h4 {
    color: #00b300;
  } 
}

@media screen and (max-width: 799px) {
  .navBarCont {
    background-color: #99ff99;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding-bottom: 12px;
  }

  @media screen and (max-width: 600px) {
    .mobileNav {
      font-size: smaller;
    }
  }
  
  .mobileNav {
    display: block;
    float: left;
    margin-left: 12px;
  }

  .App {
    margin-top: 50px;
  }
  
  a {
    text-decoration: none;
    font-weight: 500;
  }
  
  a, a:visited {
    color: #00b300;
  }
  
  a:hover {
    color: #0000ff;
    cursor: pointer;
  }
  
   h4 {
    color: #00b300;
  } 
}



@media (min-width: 800px) {
.navBarCont {
  width: 200px;
  height: 700px;
  background-color: #99ff99;
  height: 100%;
  overflow: hidden;
}

.navItem {
  margin-left: 5px;
  margin-top: 5px;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a, a:visited {
  color: #00b300;
}

a:hover {
  color: #0000ff;
  cursor: pointer;
}

h4 {
  text-align: center;
}
}

/* Random Meal Page */

.randomCont {
  text-align: center;
  height: 100%;
}

.addButton {
  margin-left: 8px;
}

.getButton {
  margin-top: 6px;
}

.removeButton:hover {
  background-color: aliceblue;
  color: #006666;
  cursor: pointer;
}

.pageTitle {
  text-align: center;
  padding: 15px;
}

.sideTitle {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}

.photoIngredsCont {
  display: flex;
  flex-direction: column;
}

.ingredsCont {
  text-align: center;
}

.moreInfoButton {
  margin: 8px;
}

/* Intolerances / Veg Page */

.intolerancesCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wontIncludeCont {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
}

.ingredsContCol3 {
  text-align: start;
}

.recipeRestCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.vegImgCont, .pCenter {
  text-align: center;
}

/* Video Page */

.videoPageCont{
  text-align: center;
}
